body{
    background-image: url("../images/background.jpg");
    height: 100%;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p{
   color: whitesmoke; 
}

.AboutHeader{
    background:darkslategrey;
    padding: 15px;
}

img{
    height: 300px;
    width: 350px;
}

.column{
    float: left;
    margin-right: 20px;
    width: 30%;
}

.members{
box-shadow: 0px 4px 6px white;
padding: 0 10px 0 10px;
}

.button {
    border: grey;
    display: inline-block;
    padding: 15px;
    color: black;
    background-color: darkslategrey;
    text-align: center;
    cursor: pointer;
    width: 65%;
  }
  
  .button:hover {
    background-color:lightslategray;
  }
